name: Deploy on aws my application

on:
    push:
        branches:
            - main

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up SSH
        run: |
            mkdir -p ~/.ssh/
            echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
            chmod 600 ~/.ssh/id_rsa

      - name: Set up known hosts
        run: |
            echo "${{ secrets.SSH_KNOWN_HOSTS }}" >> ~/.ssh/known_hosts
            chmod 644 ~/.ssh/known_hosts

      - name: SSH and deploy
        run: |
            echo "${{ secrets.SSH_PEM_KEY }}" >> ~/django-key.pem
            chmod 400 ~/django-key.pem
            ssh -i ~/django-key.pem ${{ secrets.SSH_USERNAME}}@${{ secrets.SSH_PUBLIC_IP}} "
                cd storead-api
                ls -al
                ${{ secrets.PRODUCTION_ENV }} > ./.envs/.prd/.django
                git pull || exit 1
                sudo make build || exit 1
            "
